<div>
  <h1>Sửa khách hàng</h1>
  <div>
    <form>
      <div class="col-md-6">
        <label class="form-label"   >Title</label>
        <input type="text" class="form-control"     >
      </div>
      <div class="col-md-6">
        <label class="form-label"   >Title</label>
        <input type="text" class="form-control"     >
      </div>
      <div class="col-md-6">
        <label class="form-label"   >Title</label>
        <input type="text" class="form-control"     >
      </div>
      <div class="col-md-6">
        <label class="form-label"   >Title</label>
        <input type="text" class="form-control"     >
      </div>
      <div class="col-md-6">
        <label class="form-label"   >Title</label>
        <input type="text" class="form-control"     >
      </div>
      <div class="col-md-6">
        <label class="form-label"   >Title</label>
        <input type="text" class="form-control"     >
      </div>
      <div class="col-md-6">
        <label class="form-label"   >Title</label>
        <input type="text" class="form-control"     >
      </div>
      <br><br>
      <div>
        <button type="submit" class="btn btn-primary">Sửa khách hàng</button>
      </div>
    </form>
</div>
</div>
