<h1>Sửa khách hàng</h1>
<div>
  <form>
    <div class="col-md-6">
      <label class="form-label" for="">Title</label>
      <input type="text" class="form-control" name="" id="">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="">Title</label>
      <input type="text" class="form-control" name="" id="">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="">Title</label>
      <input type="text" class="form-control" name="" id="">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="">Title</label>
      <input type="text" class="form-control" name="" id="">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="">Title</label>
      <input type="text" class="form-control" name="" id="">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="">Title</label>
      <input type="text" class="form-control" name="" id="">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="">Title</label>
      <input type="text" class="form-control" name="" id="">
    </div>
    <br><br>
    <div>
      <button type="submit" class="btn btn-success">Sửa khách hàng</button>
    </div>
  </form>
</div>
